@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  @apply my-24 
}

.green_gradient {
  @apply bg-gradient-to-b from-primary_cyan to-secondary_green
}

.black_gradient {
  @apply bg-gradient-to-bl from-primary_black to-secondary_green;
}

.nav__padding {
  @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24 p-5
}

.container__padding {
  @apply px-8 sm:px-12 md:px-16 lg:px-20 xl:px-24 2xl:px-28 
}

.hero_container__padding {
  @apply px-8 sm:px-12 md:px-16 lg:px-20 xl:px-24 2xl:px-28
}

.flex-between {
  @apply flex justify-between items-center
}

